{
    "presets": [
      "next/babel"
    ],
    "plugins": [
        ["module-resolver", {
          "alias": {
            "app": "./"
          }
        }],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-react-jsx"
      ],
}