# Dependency directories
node_modules/

# next.js build output
client/.next
.next

# firebase credientals client/server
credentials/

# session
sessions/

# output
out/
dist/

# Firebase cache
.firebase/

# Firebase debug log
firebase-debug.log
firestore-debug.log

# Firebase key
client/functions/fbConf.ts
client/client.ts
