service cloud.firestore {
  match /databases/{database}/documents {
    // todosへのアクセスルール
    match /todos/{userId} {
      // ログイン時のみ読み込み・書き込みを許可
      allow read, create: if request.auth.uid == userId
    }
  }
}
